<div fxLayout="row wrap" fxLayout="column" fxLayoutGap="5%" fxLayoutAlignCenter="center">
  <div fxFlex="100%">
    <h2>Registration</h2>
  </div>

  <div>
    <form fxLayout="column" fxLayoutAlign="space-around center">
      <mat-form-field>
        <input matInput placeholder="First Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Email">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Subscription Level">
          <mat-option value="stuff"></mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary">Register Now!</button>
    </form>
  </div>
</div>
