<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" class="header">
  <h1>Welcome to superhero-demo!</h1>
  <a routerLink="/home">
    <button mat-raised-button color="accent">Home</button>
  </a>
  <a routerLink="/character-list">
    <button mat-raised-button color="accent">Character List</button>
  </a>
  <a routerLink="/featured-character">
    <button mat-raised-button color="accent">Featured Character</button>
  </a>
  <a routerLink="/character-detail">
    <button mat-raised-button color="accent">Character Detail</button>
  </a>
  <a routerLink="/comics">
    <button mat-raised-button color="accent">Comics</button>
  </a>
  <a routerLink="/registration">
    <button mat-raised-button color="accent">Registration</button>
  </a>
</mat-toolbar>

<router-outlet></router-outlet>
