<div class="card-container container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="5%" fxLayoutAlign="center">

  <div fxFlex="100%">
    <h2>Search As Observable</h2>
    <mat-form-field class="search-area">
      <input matInput type="text" [formControl]="search" placeholder="Search As Observable" />
    </mat-form-field>
  </div>

  <mat-card class="card-picture" *ngFor="let character of ( characters$ | async )?.data.results">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="80%">{{character?.name}}</span>
    </mat-card-title>
    <img mat-card-image src="{{character?.thumbnail?.path}}.{{character?.thumbnail?.extension}}">
    <div>{{character?.description}}</div>
  </mat-card>
</div>

<div class="card-container container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%"
  fxLayoutAlign="center">

  <div fxFlex="100%">
    <h2>Search As Promise</h2>
    <mat-form-field class="search-area">
      <input matInput type="text" (keyup)="onSearchAsPromise($event.target.value)" placeholder="Search As Promise" />
    </mat-form-field>
  </div>

  <mat-card class="card-picture" *ngFor="let character of charactersAsPromise">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="80%">{{character?.name}}</span>
    </mat-card-title>
    <img mat-card-image src="{{character?.thumbnail?.path}}.{{character?.thumbnail?.extension}}">
    <div>{{character?.description}}</div>
  </mat-card>
</div>
